* {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #001f3f;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 80px;
  margin: 0;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin: 30px 0;
  width: 450px;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px -5px #00000070;
  opacity: 0;
  transition: all 0.5s;
}

.timer.show {
  opacity: 1;
}

.timer.threshold {
  border: 2px solid red;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.input label {
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0 10px;
}

.input select,
.input input[type="date"] {
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: #001f3f;
  outline: none;
  border: none;
}

.input input[type="date"] {
  text-align: center;
  border-radius: 5px;
}

.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin: 10px;
  height: 100px;
  width: 450px;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px -5px #00000070;
}

.hour {
  color: #fa5559;
}
.minute {
  color: #26c1b9;
}

.second {
  color: #f6bc58;
}

.ms {
  font-size: 40px;
  color: #2ccb74;
}

.dot {
  color: #fff;
  font-size: 30px;
  animation: tick 1.5s linear infinite;
}

@keyframes tick {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.actions a {
  font-size: 30px;
  text-decoration: none;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -2px;
  margin: 20px 50px;
  cursor: pointer;
  transition: all 0.5s;
}

.play {
  border: 3px solid #2ccb74;
  color: #2ccb74;
}

.play:hover {
  font-weight: bold;
  border: 5px solid #2ccb74;
  letter-spacing: 10px;
}

.stop {
  border: 3px solid #fa5559;
  color: #fa5559;
  transition: all 0.5s;
}

.stop:hover {
  font-weight: bold;
  border: 5px solid #fa5559;
  letter-spacing: 10px;
}

.pause {
  border: 3px solid #f6bc58;
  color: #f6bc58;
}

.pause:hover {
  font-weight: bold;
  border: 5px solid #f6bc58;
  letter-spacing: 10px;
}

.play.disabled,
.stop.disabled,
.pause.disabled {
  pointer-events: none;
  cursor: default;
  background-color: #ccc;
}

.laps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  visibility: visible;
  transition: all 1s;
}

.laps.hide {
  visibility: hidden;
}

.lap {
  height: 100px;
  border: 2px dotted #001f3f;
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  color: #001f3f;
  padding: 0 10px;
}

.lap .status {
  display: inline-block;
  width: 250px;
  font-weight: normal;
}
.lap .duration {
  margin: 0 15px;
}

.lap .message {
  font-size: 20px;
  color: #fa5559;
}

.summary {
  display: flex;
  flex-direction: column;
  margin: 50px 5px;
  border: 2px solid #001f3f;
  visibility: visible;
  transition: all 0.2s;
}

.summary.disabled {
  visibility: hidden;
}

.summary .heading {
  align-self: center;
  text-transform: uppercase;
}

.timer-summary {
  justify-content: space-between;
  align-self: center;
  color: #001f3f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  min-width: 500px;
  min-height: 100px;
  font-size: 18px;
  transition: all 0.5s;
  margin: 10px;
}

.timer-summary:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.timer-summary h2 {
  margin: 0;
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid #001f3f;
  font-size: 20px;
  text-transform: uppercase;
}

.timer-summary div {
  margin: 10px;
}

.timer-summary .start,
.timer-summary .end,
.timer-summary .duration,
.timer-summary .message {
  display: flex;
  justify-content: space-between;
}
.timer-summary span:nth-child(1) {
  font-weight: 400;
  text-transform: uppercase;
}

.timer-summary .message {
  color: #fa5559;
}

.lap-summary {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}

.lap-summary .timer-summary {
  width: 32%;
}
.lap-summary .timer-summary.threshold {
  border: 2px dotted #fa5559;
}
