* {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 80px;
}

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #dfe6e9;
  /* background-color: #001f3f; */
}

.title {
  color: #fff;
  text-align: center;
}

.timers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
}
.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 100px;
  width: 395px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px -5px #00000070;
}

.hour {
  color: #fa5559;
}
.minute {
  color: #26c1b9;
}

.second {
  color: #f6bc58;
}

.ms {
  font-size: 40px;
  color: #2ccb74;
}

.dot {
  color: #fff;
  font-size: 30px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.action {
  font-size: 30px;
  text-decoration: none;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 0.5s;
  font-weight: 300;
  letter-spacing: -2px;
  margin: 20px 50px;
}

#play {
  border: 3px solid #2ccb74;
  color: #2ccb74;
}

#play:hover {
  font-weight: bold;
  border: 5px solid #2ccb74;
  letter-spacing: 10px;
}

#stop {
  border: 3px solid #fa5559;
  color: #fa5559;
}

#stop:hover {
  font-weight: bold;
  border: 5px solid #fa5559;
  letter-spacing: 10px;
}

#pause {
  border: 3px solid #f6bc58;
  color: #f6bc58;
}

#pause:hover {
  font-weight: bold;
  border: 5px solid #f6bc58;
  letter-spacing: 10px;
}
